*.suo
*.user
JavascriptPrecompiler/bin
JavascriptPrecompiler/obj
JavascriptPrecompiler/*.user
PrecompilerTests/bin
PrecompilerTests/obj
PrecompilerTests/*.user
SampleWebApp/bin
SampleWebApp/obj
SampleWebApp/*.user