@{
	ViewBag.Title = "Home Page";
}
@section featured {
	<section class="featured">
		<div class="content-wrapper">
			<hgroup class="title">
				<h1>@ViewBag.Title.</h1>
				<h2>@ViewBag.Message</h2>
			</hgroup>
			<p>
				This page is for testing out precompile stuff.
			</p>
		</div>
	</section>
}


<ol class="round">
	<li class="one"></li>

	<li class="two"></li>

	<li class="three"></li>
</ol>
<script type="text/javascript" src="@Url.Content("~/Precompiled/Js/sdfgsdfgs")"></script>