@{
	ViewBag.Title = "Home Page";
}
@section featured {
	<section class="featured">
		<div class="content-wrapper">
			<hgroup class="title">
				<h1>@ViewBag.Title.</h1>
				<h2>@ViewBag.Message</h2>
			</hgroup>
			<p>
				This page is for testing out precompile stuff.
			</p>
		</div>
	</section>
}

@JavascriptPrecompiler.Precompiler.DustJS().IncludeLibrary().Add("helloWord", "~/Templates/helloWorld.dust").Compile()

<article>
	<h3>DustJs</h3>
	<div id="dustTemplate"></div>
	<div id="dustOutput"></div>
</article>

	
		
<article>
	<h3>Handlebars output:</h3>
	<div id="handlebarsOutput"></div>
</article>
	


@section scripts
{
	<script>
		dust.render("helloWord", { name: 'World' }, function(err, out) {
			$('#dustOutput').html(out);
		});

		$.get('/Templates/helloWorld.dust', function(data) {
			$('#dustTemplate').text(data);
		});
	</script>	
}
