@JavascriptPrecompiler.Precompiler.DustJS().IncludeLibrary().Add("helloWord", "~/Templates/helloWorld.dust").Compile()
@JavascriptPrecompiler.Precompiler.Handlebars().IncludeLibrary().Add("~/Templates/*.handlebars").Compile()

<article>
	<h2>DustJs</h2>
	<div class="codeSection">
		<h4>Template:</h4>
		<pre class="prettyprint" id="dustTemplate"></pre>
	</div>
	<div class="codeSection">
		<h4>Razor code:</h4>
		<pre class="prettyprint">
@@JavascriptPrecompiler.Precompiler.DustJS()
.IncludeLibrary()
.Add("helloWord", "~/Templates/helloWorld.dust")
.Compile()
        </pre>
	</div>
	<div>
		<h4>Javascript:</h4>
		<pre class="prettyprint">
dust.render("helloWord", { name: 'World' }, function(err, out) {
    $('#dustOutput').html(out);
});
        </pre>
	</div>
	<div class="codeSection">
		<h4>Output:</h4>
		<div class="exampleOutput" id="dustOutput"></div>
	</div>
</article>



<article>
	<h2>Handlebars</h2>
	<div class="codeSection">
		<h4>Template:</h4>
		<pre class="prettyprint" id="handlebarsTemplate"></pre>
	</div>
	<div class="codeSection">
		<h4>Razor code:</h4>
		<pre class="prettyprint">
@@JavascriptPrecompiler.Precompiler.Handlebars()
.IncludeLibrary()
.Add("~/Templates/*.handlebars")
.Compile()
        </pre>
	</div>
	<div>
		<h4>Javascript:</h4>
		<pre class="prettyprint">
var html = templates.helloWorld({helloWorld: "Hello World!!!!"});
$('#handlebarsOutput').html(html);
        </pre>
	</div>
	<div class="codeSection">
		<h4>Output:</h4>
		<div class="exampleOutput" id="handlebarsOutput"></div>
	</div>
</article>



@section scripts
{
	<script type="text/javascript" src="@Url.Content("~/Scripts/Prettify/prettify.js")"></script>
	<script>
		dust.render("helloWord", { name: 'World' }, function (err, out)
		{
			$('#dustOutput').html(out);
		});

		var html = templates.helloWorld({ helloWorld: "Hello World!!!!" });
		$('#handlebarsOutput').html(html);

		$.get('/Templates/helloWorld.dust', function (data)
		{
			$('#dustTemplate').text(data);
			$('#dustTemplate').html(prettyPrintOne($('#dustTemplate').html()));
		});

		$.get('/Templates/helloWorld.handlebars', function(data)
		{
			$('#handlebarsTemplate').text(data);
			$('#handlebarsTemplate').html(prettyPrintOne($('#handlebarsTemplate').html()));
		});
		
		prettyPrint();
	</script>
}
